html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#root{
    width: 100%;
    height: auto;
}

.container{
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
}

.aboutme_div{
    width: 100%;
    background-color: #f7f7f7;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutme_desc{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-top: 150px;
}

.aboutme_img{
    width: 40%;
    height: 70%;
}

.aboutme_desc h1 .name_span{
    font-family: "Questrial",sans-serif;
    letter-spacing: 0.5px;
    text-shadow: rgb(0 0 0 / 15%) 0 4px 5px;
    margin-left: 10px;
    font-size: 60px;
    color: #5161ce;
}

.aboutme_desc h1 .greet_span{
    color: #e8b917;
    font-family: "Questrial",sans-serif;
    letter-spacing: 0.5px;
    font-size: 40px;
}

.aboutme_div span{
    margin: 10px 0px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: rgb(39, 39, 39);
}

.aboutme_div p{
    margin: 40px 0px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 40px;
    color: rgb(39, 39, 39);
}

.Crs_Cert_title{
    text-align: center;
    font-size: 50px;
    display: inline;
    text-shadow: rgb(0 0 0 / 20%) 0 4px 5px;
    color: #5161ce;
    letter-spacing: 1px;
    margin-bottom: 5px;
    border-bottom: 3px solid #5161ce;;
    font-family: "noticia text",sans-serif;
}

.Courses_certificates_div{
    width: 100%;
    display: flex;
    background-color: white;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.Courses_certificates_div img{
    width: 40%;
}

.Crs_Cert_div_1{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Crs_Cert_div_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Crs_Cert_div_2 a{
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 13px;
    color: #5161ce;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%), 0 0 3px 0 rgb(0 0 0 / 10%);
    border: 3px solid #5161ce;
    font-family: "Questrial",sans-serif;
    transition: background-color 0.4s ease-in-out;
}

.Crs_Cert_div_2 a:hover{
    background-color: #5161ce;
    color: white;
}

.crs_cert_desc{
    font-size: 25px;
    text-align: center;
    font-family: "Questrial",sans-serif;
    letter-spacing: 0.5px;
}

@media(max-width:1240px){
    .aboutme_desc{
        height: 400px;
        padding-left: 20px;
    }
}

@media(max-width:1060px){
    .aboutme_desc h1 .name_span{
        font-size: 40px;
        margin-left: 5px;
    }
    .aboutme_desc h1 .greet_span{
        font-size: 20px;
    }
    .aboutme_desc{
        padding-top: 30px;
    }
    .aboutme_div p{
        margin: 20px 0px;
        line-height: 30px;
        font-size: 17px;
    }
}

@media(max-width:710px){
    .aboutme_div{
        align-items: center;
        flex-direction: column;
    }
    .aboutme_desc h1 .name_span{
        font-size: 35px;
        margin-left: 5px;
    }
    .aboutme_div span{
        text-align: center;
    }
    .aboutme_desc{
        width: 100%;
        padding: 20px 10px;
        padding-top: 50px;
        align-items: center;
    }
    .aboutme_desc h1 .greet_span{
        font-size: 20px;
    }
    .aboutme_div p{
        font-size: 15px;
        text-align: center;
    }
    .aboutme_img{
        width: 90%;
        height: 60%;
    }
}

@media(max-width:960px){
    .Crs_Cert_div_1{
        flex-direction: column;
    }
    .Crs_Cert_div_2{
        margin-top: 30px;
    }
    .Courses_certificates_div img{
        width: 90%;
    }
    .crs_cert_desc{
        font-size: 18px;
    }
    .Courses_certificates_div{
        padding-bottom: 50px;
    }
    .Crs_Cert_title{
        font-size: 26px;
        text-align: center;
        padding: 0px 10px;
    }
}